:root {
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

#app[theme="light"] {
  --background-primary: #EDF1F5;
  --background-secondary: #FFFFFF;
  --text-light: #181818;
  --contrast: #181818;
  
  width: 100vw;
  height: 100vh;
  background: var(--background-primary);
  color: var(--text-light);
}

/* dark theme */
#app[theme="dark"] {
  --background-secondary: #202020;
  --background-primary: #181818;
  --text-dark: #E5E5E5;
  --contrast: #E5E5E5;
  
  
  width: 100vw;
  height: 100vh;
  background: var(--background-primary);
  color: var(--text-dark);
}
